@import "../variables"

#latlng-container, #latlng-button, #latlng-reset
  display: none

.menu-item-container
  padding: 10px
  background-color: $color-gray

.disabled
  label, .row
    display: none
