@import "../variables"

.filler-listing
  height: 265px
  color: $color-gray

.listing
  background-color: white
  box-shadow: 2px 2px 1px $color-lighter
  a
    text-decoration: none
  p
    color: $color-main
  span
    color: $color-main
  .listing-image
    height: 150px
    background: url(../../images/new_bg.jpg) center
    background-size: cover
    overflow: hidden
    .dispensary-gold
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat 0 -1px
    .dispensary-silver
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -61px 0
    .dispensary-bronze
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -123px -1px
    .dispensary-plus
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -183px -7px
    .doctor-gold
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat 0 -135px
    .doctor-silver
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -61px -134px
    .doctor-bronze
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -123px -135px
    .doctor-plus
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -183px -141px
    .product-gold
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat 0 -67px
    .product-silver
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -61px -66px
    .product-bronze
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -123px -67px
    .product-plus
      background: url(https://d2kxqxnk1i5o9a.cloudfront.net/assets/bluedream/spritemap-markers-704c4e67953819590497f059520f10d3.png) no-repeat -183px -73px
  img
    height: 175px
  .listing-details
    padding: 15px 10px
    > p
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      margin-bottom: 0
      > span
        padding-right: 10px
    > div
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      font-family: $font-heavy
      font-weight: bold
      text-align: center
      padding-bottom: 15px
      margin: 0
      color: $color-main

.header
  background-image: url(../../images/new_bg.jpg)
  background-size: cover
  nav
    padding-top: 50px
    width: 100%
  > .container > .row
    padding: 90px 0
  img
    padding-top: 15px
  .login-right
    padding-top: 20px

.header-dark
  padding: 25px 0 10px 0
  background-color: $color-light